<div class="z_img_with_text_slide_show">
  <div class="z_slide_show_inner">
    <div class="swiper ">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% if block.type == 'Content' %}
            {% if block.settings.z_block_slide_img != blank %}
            <div class="z_div_main_child swiper-slide">
              <div class="z_child_main_img">
                <img src="{{ block.settings.z_block_slide_img | img_url : 'master' }}"   />
              </div>
          <div class="z_abs_content">
            <h2>{{ block.settings.z_block_head }}</h2>
          </div>
            </div>
              {% endif %}
          {% endif %}
        {% endfor %}
      </div>
  </div>
  </div>
</div>

<style>
  .z_child_main_img img {
    width:100%;
    display:block;
  }
.z_abs_content {
  position: absolute;
  top:50%;
  left:0;
  transform : translateY(-50%);
  width:100%;
  display:none;
}
  .swiper-slide-active + .z_div_main_child  .z_abs_content{
    display:block !important;
  }
</style>
<script>
  $(function(){
    
        var swiper = new Swiper(".z_img_with_text_slide_show .swiper", {
          slidesPerView: 3,
          spaceBetween: 30,
          loop:true,
          breakpoints: 
          {
          1: 
          {
            slidesPerView: 1
          },
          768:
          {
          slidesPerView: 3,
          spaceBetween: 30,
          
          }
          }
    });
  })
</script>
{% schema %}
  {
    "name": "Slideshow",
    "settings": [],
    "blocks" : [
      {
      "type" : "Content",
        "name" : "Content",
        "settings":[
          {
            "type" : "image_picker",
            "id" : "z_block_slide_img",
            "label" : "Image"
          },
          {
            "type" : "text",
            "id" : "z_block_head",
            "label" : "Heading",
            "default" : "The official home of King’s Merchandise"
          },
          {
             "type" : "text",
            "id" : "z_block_desc",
            "label" : "z_subheading",
            "default" : "Browse Our Limited Edition Collection"
          },
          {
             "type" : "text",
            "id" : "z_block_btn",
            "label" : "Button",
            "default" : "VISIT STORE NOW"
          }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Slideshow",
        "category" : "office work"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}