.tus_container {
    max-width: 1400px !important;
    margin: 0px auto;
  padding:0 20px;
}
@media (max-width:768px)
{
  .tus_container {
    max-width: 1400px;
    margin: 0px auto;
    padding:0 10px !important;
}
}